{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"], //https://eslint.org/docs/rules/func-names
    "comma-dangle": ["error", { // https://eslint.org/docs/rules/comma-dangle
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    // https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-filename-extension.md
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    // https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-extraneous-dependencies.md
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js"]}],
    //https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/react-in-jsx-scope.md
    "react/react-in-jsx-scope": "off", // React in global scope in Next.js
    // https://eslint.org/docs/rules/semi
    "semi": ["error", "never", { "beforeStatementContinuationChars": "always" }],
    // https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/anchor-is-valid.md
    "jsx-a11y/anchor-is-valid": false // Allows Bootstrap link styling using Next.js Link component (no 'href' passed to a-node)
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
