body {
  text-align: center;
  margin-top: 100px;
  background-color: #222;
}

button {
  font-family: Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 20px;
  background-color: blue;
  border: none;
  color: white;
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: darkblue;
}

button:active,
button:focus {
  outline: none;
}

button.clicked {
  background-color: green;
}

button.clicked:hover {
  background-color: darkgreen;
}
